.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 30px;
}
header {
  grid-column: 1 / -1;
  border: 1px solid black;
}
aside {
  border: 1px solid black;
  grid-row: 2 / 4;
}
section {
  border: 1px solid black;
  grid-column: 2 / -1;
}
.widget1 {
  border: 1px solid black;
  grid-column: 2 / 3;
}
.widget2 {
  border: 1px solid black;
  grid-column: 3 / 4;
}
footer {
  grid-column: 1 / -1;
  border: 1px solid black;
  height: 100px;
}

h2 {
  margin: 20px;
}
article {
  margin: 20px;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.image-container div {
  border: 1px solid black;
  height: 50px;
}
